Hello,

this is let's encrypt certificates auto renew bot at <server address informations>.

Renewed cerfificate(s):

%%renewlist%%

Certificate(s) in error state:

%%errorlist%%

Your checkcert bot.
